<footer class="container-fluid bg-warning text-center text-dark p-3 " style="margin-top: 40%;"
    <div class="row">
        <div class="col">
            Este es el footer
            <div>Iconos diseñados por <a href="#">Freepik</a> from <a href="#">XXXXXXX</a></div>
            <a href='https://www.freepik.es/vectores/fondo'>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</a>
        </div>
    </div>
</footer>
