<footer class="container-fluid bg-warning text-center text-dark p-3 " style="margin-top: 40%;"
    <div class="row">
        <div class="col">
            Este es el footer
            <div>Iconos diseñados por <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.es/" title="Flaticon">www.flaticon.es</a></div>
            <a href='https://www.freepik.es/vectores/fondo'>Vector de Fondo creado por pikisuperstar - www.freepik.es</a>
        </div>
    </div>
</footer>