<div class="background-notfound">
  <div class="d-flex flex-column align-items-center justify-content-center vh-100 mx-auto">
    <div class="error-template">
      <h1> Oops!</h1>
      <h2 class="mt-4"> 404 <br> Página no encontrada.</h2>
      <div class="error-details">
        Lo sentimos, ha ocurrido un error, la página solicitada no se encuentra!
      </div>
      <div class="error-actions">
        <a routerLink="/" class="btn btn-primary btn-lg">
          <i class="fas fa-home"></i>
          Regresar
        </a>
      </div>
    </div>
  </div>
</div>