<div class="row m-auto  ">
    <div class="col-12 col-sm-8 col-md-5 my-5 mx-auto ">
      <form action="/admin/procesar_agregar_foto" class="bg-light border border-primary border-rounded-sm p-3 p-sm-5" method="POST" enctype="multipart/form-data">
        <h2 class="text-center mt-2">Subir foto</h2>
    
        <div class="form-group m-auto ">
            <label for="titulo" class="form-inline">Titulo</label>
            <input type="text" name="titulo" class="form-control"  placeholder="Campana">
  
        </div>
  
        <div class="form-group m-auto ">
          <label for="foto" class="form-inline" >Contraseña</label>
          <input type="file" class="form-control" name="foto" id="">
  
        </div>
  
        <div class=" form-group mt-5 text-center ">
          <input type="submit" class=" btn btn-primary m-auto" value="Enviar">
        </div>
  
      </form>
    </div>
  </div>
  
  