<div class="container-fluid pt-3">
    <div class="row">

        <div class="col-auto col-sm-12 col-md-8 m-auto">

                    <h1 class="text-center">Dashboard</h1>
                <table class="table table-responsive-sm  table-bordered table-dark table-striped table-hover ">

                        <tr>
                            <th>Clientes</th>
                            <th>Fotos</th>
                            <th>Administradores</th>
                            <th>Ordenes de compra</th>
                        </tr>

                        <tr>
                            <td><%=informe.cliente%></td>
                            <td><%=informe.fotos%></td>
                            <td><%=informe.admin%></td>
                            <td><%=informe.ordenes%></td>
                        </tr>

                </table>

        </div>

    </div>

</div>