nav {
    border-radius: 0px 0px 5px 5px;
}

@media screen and (max-width: 899px) {
    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 4%;
    }
}

ul > li > a, .navbar-brand {
  cursor: pointer !important;  
}