<div class="row m-auto  ">
  <div class="col-12 col-sm-8 col-md-5 my-5 mx-auto ">
    <form action="/procesar_registro" class="bg-light border border-primary border-rounded-sm p-3 p-sm-5" method="POST">
      <h2 class="text-center mt-2">Registro</h2>






          <% flash.get('error').forEach(function(mensaje){%>
            <div class="alert alert-secondary" role="alert"> 
               <%=mensaje%> 
            </div> 
          <%  }) %>




      <div class="form-group m-auto ">
        <label for="nombre" class="form-inline">Nombre</label>
        <input type="text" name="nombre" class="form-control"  placeholder="Miguelone" required>

    </div>

      <div class="form-group m-auto ">
          <label for="email" class="form-inline">Email</label>
          <input type="email" name="email" class="form-control"  placeholder="Micorreo@gmail.com" required>

      </div>

      <div class="form-group m-auto ">
        <label for="contrasena" class="form-inline" >Contraseña</label>
        <input type="password" class="form-control" name="contrasena" id="" required>
      </div>

      <div class="form-group m-auto ">
        <label for="contrasena_ver" class="form-inline" >Verificar Contraseña</label>
        <input type="password" class="form-control" name="contrasena_ver" id="" required>
      </div>

      <div class=" form-group mt-5 text-center ">
        <input type="submit" class=" btn btn-primary m-auto" value="Registrarse">
      </div>

    </form>
  </div>
</div>

