
h1{
  font-family: "Times New Roman";
  color:blue;
}
  
h2{
  font-family: "Times New Roman";
}

h5{
  font-family: "Times New Roman";
}

table thead th{
  font-family: "Times New Roman";
}

  .error {
    color: red;
  }
