<div class="container-fluid pt-3">
    <div class="row">

        <div class="col-auto col-sm-12 col-md-8 m-auto">

                <% if(detalles.length > 0){%>
                    <h1 class="text-center">Detalles</h1>
                <table class="table table-responsive-sm  table-bordered table-dark table-striped table-hover ">

                        <tr>
                            <th>Fecha</th>
                            <th>Fotos</th>
                        </tr>

                        <% detalles.forEach(function(mensaje){ %>
                            <tr>
                                <td><%=mensaje.fecha%></td>
                                <td><%=mensaje.titulo%></td>
                            </tr>
                        <%})%>

                </table>
                <%}else{%>
                    <h1 class="text-center">No hay detalles</h1>
                <%}%>
        </div>

    </div>

</div>