@import "customColors.css";

.container{
  background: rgba(255, 255, 255, 0.2);
  padding: 2em;
  margin-top: 1em;
  padding-top: 1em;
  min-height: 48em;
}

h1{
  color: #9C550E;
}
h4{
  color: rgb(66, 66, 66)
}
form{
  margin-top: 3.5em;
}
.br{
  display: flex;
  justify-content: center;
  margin-top: 9em;

}
