<div class="card">
  <div class="card-content">
    <span class="card-title red-text">Grupos</span>
    <div class="divider"></div>
    <div class="grupos-container">
      <div class="item-grupo" *ngFor="let item of grupos">
        <div class="img-grupo grey lighten-2" [ngClass]="{resaltado: item.resaltado}" (mouseenter)="onHoverGroupIn(item)" (mouseleave)="onHoverGroupOut(item)">
          <i class="material-icons large-icon red-text">{{item.icono}}</i>
        </div>
        <div class="red-text center">
          {{item.nombre}}
        </div>
      </div>
    </div>
    <button class="btn-floating right red waves-effect"><i class="material-icons">group_add</i></button>

  </div>
</div>
