<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="stylesheets/estilos.css">
    <link rel="stylesheet" href="stylesheets/mini-default.min.css">
    <title>Blog viajes</title>
</head>

<body>
    
    <%- include ('../views/partials/encabezado_publico') %>
    <div class="container">
        <h1>Registro</h1>
        <p>Ingresa tus datos para ser un nuevo autor</p>

        <div class="row">
            <div class="col-sm-12">
                <% if (mensaje && mensaje.length > 0) { %>
                <h4> <span class="icon-info"></span> <%=mensaje%> </h4>
                <% } %>

                <form action="/procesar_registro" method="post">
                    <fieldset>
                        <legend>Nuevo Autor</legend>
                        <p>
                            <label for="email">Email</label><br>
                        <input type="email" name="email" id="email" required="true">
                        </p>
                        <p>
                            <label for="contrasena">Contrasena</label><br>
                            <input type="password" name="contrasena" id="contrasena"  required="true">
                        </p>
                        <p>
                            <label for="pseudonimo">Pseudónimo</label> <br><br>
                            <input type="text" name="pseudonimo" id="pseudonimo" required="true">
                        </p>
                        <p>
                            <input type="submit" value="Continuar" class="primary">
                        </p>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <%- include ('../views/partials/pie')%>
    
    <script src="javascript/script.js"></script>
</body>
</html>